<form action="/update" method="post">
  <input id="person_name" name="person_name" type="text" value="<%= @person.name %>"></input>
  <input id="person_id" name="person_id" type="hidden" value="<%= @person.id %>"></input>
  <input type="submit" value="Update"></input>
</form>
