<table>
<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.id %></td>
    <td><a href="/edit/<%=person.id%>">Edit</a></td>
  </tr>
<% end %>
</table>

<p>
  <a href="/new">Add new</a>
</p>
