<form action="/create" method="post">
  <input id="contact_first_name" name="contact_first_name" type="text"></input>
  <input id="contact_last_name" name="contact_last_name" type="text"></input>
  <input type="submit" value="Create"></input>
</form>
